*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
}

header{
  background-color: #ededed;
  padding: 10px 16px;
  height: 60px;
  width: 100%;
}

a{
  text-decoration: none;
}

.active{
  display: block;
}

.clearfix::after{
  clear: both;
  display: table;
  content: '';
}

.fascia-green{
  width: 100%;
  height: 100%;
  display: flex;
}

.fascia-green::after{
  content: '';
  height: 127px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #009688;
  z-index: -1;
}

.container{
  height: calc(100% - 40px);
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: #f7f7f7;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.container-left{
  width: 30%;
  height: 100%;
}

.container-right{
  width: 70%;
  height: 100%;
  border-left: 1px solid rgba(0,0,0,.08);
}

.img-utente{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
}

.icone-header{
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.icone-header i{
  color: #767d81;
  margin-left: 25px;
  cursor: pointer;
  font-size: 18px;
}

.desktop-notifiche{
  height: 90px;
  width: 100%;
  background-color: #9de1fe;
  padding: 13px 12px 14px 13px;
  display: flex;
  align-items: center;
}

.desktop-notifiche > a{
  display: inline-block;
  background: #f5fcff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
}

.fa-bell-slash{
  color: #9de1fe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.notifiche-link p, .notifiche-link a{
  color: rgb(64, 75, 79);
}

.notifiche-link a{
  font-size: 14px;
}

.notifiche-link a:hover{
  text-decoration: underline;
}

.notifiche-link .fa-chevron-right {
  font-size: 11px;
  color: rgb(64, 75, 79);
}

.container-ricerca-left{
  background-color: #ededed;
  height: 50px;
  width: 100%;
  padding: 6px 12px;
}

.ricerca-left-color{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.ricerca-left-color i{
  color: #d0d2d4;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 20px;
}

.fa-search{
  cursor: pointer;
}

input{
  width: 100%;
  border: none;
}

.ricerca-left-color input::placeholder{
  color: #afafaf;
}

.container-messaggi{
  overflow-y: auto;
  height: calc(100% - 200px);
}

.conversazione-left{
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 13px 12px 14px 13px;
  border-bottom: 1px solid rgba(0,0,0,.08);
  cursor: pointer;
  background-color: white;
}

.conversazione-left:hover{
  background-color: #f5f5f5;
}

.container-messaggi .conversazione-left:first-child{
  border-top: 1px solid rgba(0,0,0,.08);
  background-color: #ebebeb;
}

.conversazione-left .img-utente{
  margin-right: 20px;
}

.conversazione-left .info-conversazione{
  width: 80%;
}

.container-right .info-conversazione{
  float: left;
}

.info-conversazione p:first-child .nome{
  font-weight: 600;
}

.info-conversazione p:first-child .orario{
  float: right;
  font-size: 13px;
  color: #afafaf;
}

.info-conversazione p:nth-child(2){
  color: #afafaf;
  font-size: 13px;
}

.container-right .img-utente{
  margin-right: 20px;
}

main{
  background-color: #e5ddd5;
  height: calc(100% - 60px);
  position: relative;
  z-index: 0;
}

.container-background{
  opacity: 0.06;
  background-image: url('https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png');
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.container-area-conversazione{
  height: 100%;
}

.area-conversazione{
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 40px 80px;
}

.digita-testo{
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ededed;
  display: flex;
  align-items: center;
}

.digita-testo i{
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
  color: #767d81;
  font-size: 22px;
}

.fa-microphone, .fa-paper-plane{
  display: none;
}

.digita-testo i.active{
  display: block;
}

.digita-testo input{
  height: 40px;
  border-radius: 20px;
  padding: 5px 10px;
}

.digita-testo input::placeholder{
  color: #afafaf;
}

.template{
  display: none;
}

.area-conversazione .message {
	position: relative;
	margin: 5px 0;
	padding: 15px 15px 20px 15px;
	min-width: 20%;
	max-width: 60%;
	background: #fff;
	border-radius: 10px;
	font-size: 15px;
}

.area-conversazione .message::after {
	content: '';
	display: table;
	overflow: hidden;
	clear: both;
}

.message-text{
  margin-right: 20px;
}

.message-time {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
	color: #B6B9BB;
}
.area-conversazione .message.received {
	background: white;
	float:left;
	clear:both;
}
.area-conversazione .message.sent {
	background: #dcf8c6;
	float: right;
	clear:both;
}

.fa-chevron-down{
  float: right;
  color: #B6B9BB;
	cursor: pointer;
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

.message:hover .fa-chevron-down{
  display: block;
}

.message-options{
  display: none;
}
